<div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">GhostTown Comments</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Comments Author</th>
                                        <th>Comments Date</th>
                                        <th>Comments Content</th>
                                        <th>Replied To Post</th>
                                        <th>Comments Status</th>
                                        <th>Approve Comments</th>
                                        <th>Disapprove Comments</th>
                                        <th>Remove Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var counter = 0; counter < comments.length; ++counter) { %>
                                    <tr>
                                        <td><%=comments[counter].comment_author%></td>
                                        <td><%=comments[counter].comment_date%></td>
                                        <td><%=comments[counter].comment_content%></td>
                                        <td><a href="/gotopost?postid=<%=comments[counter].post_id%>">Go to this post</a></td>
                                        <td><%=comments[counter].comment_status%></td>

                                        <td class="text-right">
                                            <a href="/admin/approve-comment?commentid=<%= comments[counter]._id %>">Approve</a>
                                        </td>

                                        <td class="text-right">
                                            <a href="/admin/disapprove-comment?commentid=<%= comments[counter]._id %>">Disapprove</a>
                                        </td>

                                        <td class="text-right">
                                            <a href="/admin/delete-comment?commentid=<%= comments[counter]._id %>">Remove</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
