<div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">GhostTown Posts</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Post Title</th>
                                        <th>Post Author</th>
                                        <th>Post Category</th>
                                        <th>Post Date</th>
                                        <th>Status</th>
                                        <th>Approve Post</th>
                                        <th>Disapprove Post</th>
                                        <th>Remove Post</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var counter = 0; counter < post.length; ++counter) { %>
                                    <tr>
                                        <td><%= post[counter].post_title %></td>
                                        <td><%= post[counter].post_author %></td>
                                        <td><%= post[counter].post_category %></td>
                                        <td><%= post[counter].post_date %></td>
                                        <td><%= post[counter].post_status%></td>

                                        <td class="text-right">
                                            <a href="/admin/approve-post?postid=<%= post[counter]._id %>">Approve</a>
                                        </td>
                                    
                                        <td class="text-right">
                                            <a href="/admin/disapprove-post?postid=<%= post[counter]._id %>">Disapprove</a>
                                        </td>

                                        <td class="text-right">
                                            <a href="/admin/delete-post?postid=<%= post[counter]._id %>">Remove</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>

            </div> 
        </div>
    </div> 